.DS_Store
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
configure~
src/.DS_Store
src/.deps/
src/Makefile
src/Makefile.in
src/compat/.deps/
src/config.h
src/config.h.in
src/logbook/.deps/
src/misc/.deps/
src/stamp-h1
src/widgets/.deps/
src/wkey_dialogs.cxx.work
src/xmlrpcpp/.deps/

