[Desktop Entry]
Name=Flwkey
GenericName=Winkey interface program
Comment=Amateur Radio Communications
Exec=flwkey
Icon=flwkey
Terminal=false
Type=Application
Categories=Network;HamRadio;
